<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>

  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" href="">Employee</a> </li>
      <li class="nav-item"><a class="nav-link" href="">Employee List</a> </li>

    </ul>
  </nav>
</header>
<emp-page></emp-page>
<empList-page></empList-page>